<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>当前登录用户：{{username_about}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!--<ion-button (click)="toggleInfiniteScroll()" expand="block">
      Toggle Infinite Scroll
    </ion-button>-->

    <!--<ion-list>
      <ion-item-sliding *ngFor="let item of datas;">
      <ion-item >
        <p>{{item.name}}</p>
        <p>{{item.place_num}}</p>
        <p>{{item.fodder_num}}</p>
        <p>{{item.lens_type}}</p>
        <p>{{item.take_message}}</p>
        <p>{{item.lens_make_message}}</p>
      </ion-item>
      </ion-item-sliding>
    </ion-list>-->


    <ngx-datatable
            class="material striped ngx-datatable fixed-header fixed-row virtualized"
            [rows]="rows | async"
            [columns]="columns"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'flex'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [scrollbarV]="false"
            [scrollbarH]="false"
            [limit]="100"
    >
      <!--<ngx-datatable-column
              *ngFor="let col of columns"
              [name]="col.name"
              [prop]="col.prop"
      >
      </ngx-datatable-column>-->
      <!--{ prop: 'id', name: 'ID', frozenLeft: true , width:50},
      { prop: 'name', name: '项目名', width:50},
      { prop: 'place_num', name: '场号' ,width:50},
      { prop: 'fodder_num', name: '镜头号' ,width:50},
      { prop: 'lens_type', name: '素材号', width:50 },
      { prop: 'take_message', name: 'take信息', width:80},
      { prop: 'lens_make_message', name: '制作镜头信息', width:120},-->
      <ngx-datatable-column name="ID" prop="id" [flexGrow]="1" headerClass="ngx-tab-header" [cellClass]="getCellClass">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="项目名" prop="name" [flexGrow]="1" headerClass="ngx-tab-header" [cellClass]="getCellClass">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="场号" prop="place_num" [flexGrow]="1" headerClass="ngx-tab-header" [cellClass]="getCellClass">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="镜头号" prop="lens_type" [flexGrow]="1" headerClass="ngx-tab-header" [cellClass]="getCellClass">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="素材号" prop="fodder_num" [flexGrow]="2" headerClass="ngx-tab-header" [cellClass]="getCellClass">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="take信息" prop="take_message" [flexGrow]="2" headerClass="ngx-tab-header" [cellClass]="getCellClass">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="制作镜头信息" prop="lens_make_message" [flexGrow]="2" headerClass="ngx-tab-header" [cellClass]="getCellClass">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

      <ion-infinite-scroll threshold="5%" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="加载数据中...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ion-app>

