<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>当前登录用户：{{username_about}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!--<ion-button (click)="toggleInfiniteScroll()" expand="block">
      Toggle Infinite Scroll
    </ion-button>-->

    <ion-list>
      <ion-item-sliding *ngFor="let item of datas;">
      <ion-item >
        <p>{{item.name}}</p>
      </ion-item>
      </ion-item-sliding>
    </ion-list>

    <!--<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>-->
  </ion-content>
</ion-app>
